@{
    ViewData["Title"] = "À Propos";
}
<h2>@ViewData["Title"]</h2>

<h3>Auteurs:</h3>

<p>Jeremy Arsenault-Lavoie</p>
<p>Charles-Étienne Coriveau</p>

<br />

<h3>Api Utilisé:</h3>

<a href="https://developer.ebay.com/api-docs/developer/static/developer-landing.html">Ebay Api</a>
<br />
<a href="https://developers.google.com/youtube/v3/">Youtube Api</a>
<br />
<a href="https://developers.themoviedb.org/3/getting-started/introduction">TMdb Api</a>
<br />
<a href="https://developer.nytimes.com/">NYT Api</a>