@model IEnumerable<TP1_GEN.Models.Film>

@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
}

<input type="text" placeholder="Search..." class="search">
<div class="row">
    @foreach (var film in Model)
    {
        if (counter != 0 && counter % 4 == 0)
        {
            @:</div>
            @:<div class="row">
        }
        <div class="col-md-3">
            <div id="poster" class="row">
                <img src="@film.PosterUrl" />
            </div>
            <div class="row" id="details">
                <div class="title">@film.Title</div>
                <button type="button" asp-controller="Home" asp-action="Details">Details</button>
            </div>
        </div>
    }
</div>
