<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link asp-href-include="/lib/bootstrap/dist/**/*.min.css" rel="stylesheet" />
    <script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-src-include="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet">
    @RenderSection("scripts", false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Gestionnaire de films</a>
            </div>
        </div>
    </nav>

<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - TP1_GEN</p>
        </footer>
    </div>
</body>
</html>
