<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link asp-href-include="/lib/bootstrap/dist/**/*.min.css" rel="stylesheet" />
    <script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-src-include="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/878a0b3408.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", false)
</head>
<body>
    @*<nav class="navbar navbar-dark bg-dark justify-content-between">
            <div class="container">
                <div class="navbar-header">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Gestionnaire de films</a>
                    <a class="nav-link" asp-action="About">À propos</a>
                </div>
            </div>
        </nav>*@

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a asp-action="Index" class="navbar-brand">Gestionnaire de films</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-action="Index" class="nav-link">Gestionnaire</a>
                </li>
                <li class="nav-item active">
                    <a asp-action="About" class="nav-link">À propos</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - TP1_GEN</p>
        </footer>
    </div>
</body>
</html>
